img
{
    margin:50px ;
}
body
{
    background-color: aquamarine;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img
{
    width: 100 px;
    height: 100 px;
}